  <%= csrf_meta_tags %>
  <script type="text/javascript">
    
    $(function() {
      if($.fn.cloudinary_fileupload !== undefined) {
        $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
      }
    });
  </script>

  <div class="form-group" style="width:50%; margin-left: 25%;margin-top:5%">
    <%= form_with(model: profile, local: true) do |form| %>
    <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= form.label :descrption %>
      <%= form.text_area :descrption, id: :profile_bio,class:"form-control" %>
    </div>

    <div class="field ">
      <%= form.label :username %>
      <%= form.text_field :username, id: :profile_username, class:"form-control"%>
    </div>
    <div class="field">
      <div class:"form-control">
      <%= cl_image_upload_tag(
        :picture_url,
        :tags => "directly_uploaded",
        :crop => :limit, :width => 1000, :height => 1000,
        :eager => [{ :crop => :fill, :width => 150, :height => 100 }],
        :html => { :style => "margin-top: 30px" }  
        ) %>
      </div>
      </div>
      <div class="actions">
        <div>
        <%= form.submit 'Create',class:'btn btn-primary' %>
      </div>
      </div>
      <% end %>
    </div>