<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <br>
 <%= cl_image_tag(@profile.picture_url, :crop => :fill, :width => 120, :height => 80) %>
</p>
<p>
  <strong>User:</strong>
  <%= @profile.username %>
</p>
<p>
  <strong>Description:</strong>
  <%= @profile.descrption %>
</p>
<%= link_to 'Edit', edit_profile_path(@profile) %> |

