	<%= csrf_meta_tags %>
	<script type="text/javascript">
		
		$(function() {
			if($.fn.cloudinary_fileupload !== undefined) {
				$("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
			}
		});
	</script>
	<div class = "container text-center">
		<h1>Room Pictures</h1>
		<% if @picture.present? %>
		<div class = "row">
			<% @picture.each do |picture| %>
			<div class = "col-lg-12 col-md-12  col-sm-12" style="margin: 1vw">
				
				<%= cl_image_tag(picture.picture_url, :crop => :fill, :width => 120, :height => 80) %>

				<% if current_user.is_admin? %>
				<%= link_to 'Delete', "/rooms/#{@room.id}/roompictures/#{picture.id}/remove_picture",method:'post',class:"btn btn-primary",style: 'margin: 1vw'%>
				<% end %>
				
			</div>
			<% end %>
		</div>
		<% end %>
		<% if current_user.is_admin? %>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 text-center	">
				<%= form_for Roompicture.new,url:room_roompictures_add_picture_path do |form| %>
				<div class="field">
					<%= cl_image_upload_tag(
						:picture_url,
						:tags => "directly_uploaded",
						:crop => :limit, :width => 1000, :height => 1000,
						:eager => [{ :crop => :fill, :width => 150, :height => 100 }],
						:html => { :style => "margin-top: 30px" }  
						) %>
					</div>
					<%= form.submit "add",class:'btn btn-primary' %>
					<% end %>
				</div>
			</div>
			<% end %>
		</div>
