<div class="form-group" style="width:50%; margin-left: 25%;margin-top:5%">
<%= form_with(model: room, local: true) do |form| %>
<% if room.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

  <ul>
    <% room.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :room_number %>
  <%= form.number_field :room_number, id: :room_number, class:'form-control' %>
</div>

<div class="field">
  <%= form.label :floor %>
  <%= form.number_field :floor, id: :floor,class:'form-control' %>
</div>

<div class="field">
  <%= form.label :price %>
  <%= form.number_field :price, id: :room_price,class:'form-control' %>
</div>

<div class="field">
  <%= form.label :number_of_beds %>
  <%= form.number_field :number_of_beds, id: :number_of_bed,class:'form-control'%>
</div>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>
</div>