<!DOCTYPE html>
<html>
<head>
	<title>CloudProject</title>
	<%= csrf_meta_tags %>
	<%= cloudinary_js_config %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<%= render 'layouts/nav' %>
	<div class="container center">
		<div class="row" style="margin-top: 5%">
			<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 text-center">
				<%= yield %>
			</div>
		</div>
	</div>
	<div style="height:20px"></div>
	<footer style="height: 70px; margin:0; clear:both; width: 100%;  position: relative; background-color: rgb(240,240,240);">
		<div class="container">
			<h4>PC Hotel</h4>
			<h5>Copyrights</h5>
		</div>
	</div>
</footer>
</body>
</html>
